.header {
    display: flex;
    background: var(--accent-base-color);
    color: var(--text-accent-color);

    .content {
        display: flex;
        padding: 0px var(--spacing-horizontal);
    }

    .search {
        display: flex;
        padding: 0px var(--spacing-horizontal);
        align-items: center;

        .textbox {
            height: calc(var(--element-height) - 4px);
            margin: 0px;
            background: #ffffff;
            border-color: var(--accent-dark-color);
            color: var(--text-body-color);
        }

        .textbox-addon {
            height: calc(var(--element-height) - 4px);
            border-color: var(--accent-base-color);
            background: var(--accent-base-color);
            color: var(--text-accent-color);
        }
    }

    .drag {
        flex: 1;

        &.window {
            -webkit-app-region: drag;
        }
    }

    .window-controls {
        display: inline-flex;
        min-width: 100px;
        justify-content: flex-end;

        &.macos {
            order: -1;
        }

        .close {
            border-radius: 0px;
            -webkit-app-region: no-drag;
            -webkit-transition: background-color 0.2s;
            transition: background-color 0.2s;
            &:focus,
            &:hover {
                border-color: #e81123;
                background: #e81123;
                & svg > polygon {
                    fill: #ffffff;
                }
            }
            &:active {
                border-color: #bf0f1d;
                background: #bf0f1d;
                & svg > polygon {
                    fill: #ffffff;
                }
            }
        }

        .minimize,
        .resize {
            border-radius: 0px;
            -webkit-app-region: no-drag;
            -webkit-transition: background-color 0.2s;
            transition: background-color 0.2s;

            &:focus,
            &:hover {
                & svg > rect,
                & svg > path,
                & svg > polygon {
                    fill: var(--text-accent-color);
                }
            }

            &:active {
                & svg > rect,
                & svg > path,
                & svg > polygon {
                    fill: var(--text-accent-color);
                }
            }
        }

        .minimize svg,
        .resize svg,
        .close svg {
            width: 11px;
            height: 11px;
            shape-rendering: crispEdges;
        }

        .minimize svg > rect,
        .resize svg > path,
        .close svg > polygon {
            fill: var(--text-accent-color);
        }
    }
}
