.player {
    border-bottom: var(--border-width) var(--border-style) var(--border-color);
    padding: 4px;
    padding-right: calc(var(--spacing-horizontal) * 2);

    display: grid;
    grid-template-rows: 42px 32px;
    grid-template-columns: 75px auto;
    grid-template-areas: 'image details' 'image controls';

    .image {
        grid-area: image;
        justify-self: center;
        align-self: center;

        height: 70px;
        width: 70px;
        max-width: 70px;
        max-height: 70px;
    }

    .details {
        grid-area: details;
        display: flex;
        align-items: baseline;
        margin-right: calc(var(--spacing-horizontal) * 2);
        min-width: 0;

        h2,
        h4,
        h5 {
            font-weight: 400;
            margin-top: 0;
            margin-bottom: 0;
        }

        h2,
        h4 {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    .controls {
        grid-area: controls;
        display: flex;
        justify-content: space-between;

        .seekbar {
            display: flex;
            flex: 1;
            align-items: center;
            margin: 0 calc(var(--spacing-horizontal) * 2);

            span {
                margin: 0 var(--spacing-horizontal);
            }
        }

        .volume {
            margin: 0 calc(var(--spacing-horizontal) * 2);
            display: flex;
            align-items: center;
            min-width: 125px;
        }
    }
}

.popover-queue {
    width: 350px;
    height: 60vh;

    display: flex;
    flex-direction: column;
    border: var(--border-width) var(--border-style) var(--border-color);

    .queue-header {
        height: calc(var(--element-height) + 4px);
        background: var(--background-color);
        border-bottom: var(--border-width) var(--border-style)
            var(--border-color);

        padding: 0px var(--element-padding);

        overflow: hidden;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .queue-body {
        flex: 1 1 auto;
        display: flex;
        align-items: stretch;
        background: #ffffff;

        .queue-row {
            display: flex;

            justify-content: center;
            outline: none;

            .btn {
                border-radius: 0px;
                width: (--element-height);
            }

            .details {
                flex: 1 1 auto;
                display: flex;
                justify-content: center;
                flex-direction: column;

                &.current {
                    background: var(--accent-base-color);
                    color: var(--text-accent-color);

                    &:hover {
                        background: var(--accent-light-color);
                        color: var(--text-accent-color);
                    }
                }

                h6 {
                    margin-top: 0;
                    margin-bottom: 0;
                }

                &:hover {
                    border-top-width: var(--border-width);
                    background-color: var(--background-color);
                }

                &:active {
                    background-color: var(--accent-base-color);
                    color: var(--text-accent-color);
                }
            }
        }
    }
}

.ReactVirtualized__List {
    outline: none;
}

.ReactVirtualized__Grid__innerScrollContainer {
    outline: none;
}
