.library-settings {
    padding: var(--spacing-vertical) var(--spacing-horizontal);
}

.system-settings {
    padding: var(--spacing-vertical) var(--spacing-horizontal);

    display: flex;
    flex-direction: column;
}

.system-settings {
    padding: var(--spacing-vertical) var(--spacing-horizontal);

    display: flex;
    flex-direction: column;
}

.settings-banner {
    display: flex;
    justify-content: center;

    margin: var(--spacing-vertical) var(--spacing-horizontal);
    background: var(--accent-base-color);
    color: var(--text-accent-color);
}

.settings-zoom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .textbox {
        flex: 1;
    }
}
