.menu {
	display: inline-flex;
}

.menu-header {
	display: flex;
	position: relative;
	
	.menu-header-overlay {
		background-color: var(--overlay-color);
		bottom: 0;
		cursor: default;
		display: none;
		left: 0;
		position: fixed;
		right: 0;
		top: 32px;
		z-index: 999;
	}

	.menu-dropdown {
		display: none;
		position: absolute;
		left: 0;
		top: 100%;
		z-index: 999;
	}

	&.active {
		.menu-header-overlay {
			display: block;
		}

		.menu-dropdown {
			display: flex;
			flex-direction: column;
		}

		.btn {
			background-color: var(--body-background-color);
			border-color: var(--body-background-color);
			color: var(--text-color);
			align-self: stretch;
		}
	}
}

.menu-dropdown {
	background-color: var(--body-background-color);
	border-color: var(--body-background-color);
	color: var(--text-color);
	border-radius: var(--border-base-radius);

	min-width: 175px;
	max-height: 75vh;

	box-shadow: 0 2px 7px rgba(0, 0, 0, 0.25);
}

.menu-item {
	display: flex;
	padding: calc(var(--element-padding)*2);

	&:focus, &:hover {
		background: var(--primary-color);
		color: var(--primary-text-color);
	}
}