/*
	Table default theme.
	Specifies the theme for the React-Virtualized Table.
	Forked From React-Virtualized Sources.
*/

.ReactVirtualized__Table {
}

.ReactVirtualized__Table__Grid {
}

.ReactVirtualized__Table__headerRow {
	font-weight: 700;
	text-transform: uppercase;
	display: flex;
	flex-direction: row;
	align-items: stretch;

	background-color: var(--grey-light-color);
	color: var(--text-color);

	border: var(--border-base-width) var(--border-base-style) var(--grey-color);
}

.ReactVirtualized__Table__row {
	display: flex;
	flex-direction: row;
	align-items: stretch;

	color: var(--text-color);

	border: var(--border-base-width) var(--border-base-style) var(--grey-color);
	border-top-width: 0;

	&:hover {
		border-top-width: var(--border-base-width);
		background-color: var(--grey-light-color);
	}

	&:active {
		background-color: var(--primary-color);
		color: var(--primary-text-color);
	}
}

.ReactVirtualized__Table__headerTruncatedText {
	display: inline-block;
	max-width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.ReactVirtualized__Table__headerColumn,
.ReactVirtualized__Table__rowColumn {
	margin-right: 10px;
	min-width: 0px;

	display: inline-flex;
	align-items: center;

	border-right: var(--border-base-width) var(--border-base-style) var(--grey-color);
}

.ReactVirtualized__Table__rowColumn {
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ReactVirtualized__Table__headerColumn:first-of-type,
.ReactVirtualized__Table__rowColumn:first-of-type {
	margin-left: 10px;
}

.ReactVirtualized__Table__sortableHeaderColumn {
	cursor: pointer;
}

.ReactVirtualized__Table__sortableHeaderIconContainer {
	display: flex;
	align-items: center;
}

.ReactVirtualized__Table__sortableHeaderIcon {
	flex: 0 0 24px;
	height: 1em;
	width: 1em;
	fill: currentColor;
}
