/*
Base Textbox Class. Every Other input derives from it.
*/

.textbox {
	//Font Family not inherited from parents. Hack.
	font-family: inherit;
	line-height: inherit;
    background: var(--body-background-color);
    background-image: none;
    border: var(--border-base-width) var(--border-base-style) var(--border-base-color);
    border-radius: var(--border-base-radius);
    color: var(--text-color);
    font-size: var(--font-size-base);
    line-height: var(--font-line-height);
	height: var(--element-height);
	display: flex;
	
	margin: var(--element-margin) 0px;

	width: 100%;
	box-sizing: border-box;
    outline: none;
    padding: 0px calc(var(--element-padding));

    &:focus {
        border-color: var(--primary-color);
        //@include control-shadow(var(--primary-light-color));
    }

    &::placeholder {
        color: var(--grey-dark-color);
    } // Textarea
    &.textarea {
        height: auto;
    } // File Input
    &[type="file"] {
        height: auto;
    }
}