html,
body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: var(--line-height);
    background: var(--background-color);
}

.shell {
    height: calc(100vh);
    max-height: calc(100vh);
    display: flex;
    flex-direction: column;
}

a {
    color: var(--accent-base-color);
    outline: none;
    text-decoration: none;

    &:active {
        color: var(--paccent-dark-color);
        text-decoration: underline;
    }
}
