@mixin thumb-border {
	border: 3px solid rgba(0, 0, 0, 0);
	border-left-width: 2px; 
	border-top-width: 2px;
	border-bottom-width: 2px;
	background-clip: padding-box;
}

::-webkit-scrollbar {
	width: 15px;
	background-color: var(--border-base-color);;
}

::-webkit-scrollbar-track {
	border: var(--border-base-width) var(--border-base-style) transparent;
	background-color: var(--body-background-color);
}

::-webkit-scrollbar-thumb {
	background-color: var(--primary-color);
	@include thumb-border();

	&:hover {
		background: var(--primary-dark-color);
		@include thumb-border();
	}

	&:active {
		background: var(--primary-light-color);
		@include thumb-border();
	}
}