:root {
    /*
        Color Variables
    */
    --background-color: #fafafa;
    --text-body-color: #222222;
    --text-heading-color: #111111;
    --text-secondary-color: #444444;

    --accent-base-color: #1890ff;
    --accent-light-color: #40a9ff;
    --accent-dark-color: #096dd9;
    --text-accent-color: #ffffff;

    /*
        Font variables
    */
    --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    --font-size: 12px;
    --line-height: 1.5;

    /*
        Border Variables
    */
    --border-color: #e2e2e2;
    --border-width: 1px;
    --border-style: solid;
    --border-radius: 2px;

    /*
        Spacing and Size Variables
    */
    --element-height: 32px;
    --spacing-vertical: 8px;
    --spacing-horizontal: 12px;

    /*
        Misc variables
    */
    --element-disabled-opacity: 0.6;
}
