// Uses CSS Variables.

:root {

	/*
		Colors Defined Here
	*/
	--primary-dark-color:#005a9e;
	--primary-color: #0078d7;
	--primary-light-color: #2b88d8;
	--primary-text-color: #ffffff;

	--grey-dark-color: #a6a6a6;
	--grey-color: #c8c8c8;
	--grey-light-color: #f4f4f4;

	--body-background-color: #ffffff;
	--text-color: #24292e;


	/*
		Border Variables Defined Here
	*/
	--border-base-color: #eaeaea;
	--border-base-width: 1px;
	--border-base-style: solid;
	--border-base-radius: 0;

	/*
		Typography Variables Defined Here
	*/
	--font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
	--font-family-monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

	--font-size-base: 12px;
	--font-size-lg: 14px;
	--font-line-height: 1.5;


	/*
		Misc Variables Defined here
	*/
	--element-disabled-opacity: 0.6;
	--element-padding: 5px;
	--element-margin: 5px;
	--element-height: 30px;

}