$imgsize: 75px;

.player {
	display: grid;
	grid-template-columns: $imgsize auto 50px 200px;
	grid-template-rows: 40px 40px;
	grid-template-areas: "player-art player-details queue search" 
		"player-art player-controls player-controls player-controls"; 

	box-shadow: 0 2px 5px rgba(0,0,0,0.16);

	z-index: 9;
}

.player-art {
	grid-area: player-art;
	background-color: var(--primary-color); 

	.album-art {
		margin-top: 5px;
		
		height: $imgsize;
		width: $imgsize;
		max-width: $imgsize;
		max-height: $imgsize;
	}
}

.player-details {
	grid-area: player-details;
	padding-left: 15px;
	background-color: var(--primary-color);
	color: var(--primary-text-color);
	display: flex;
	justify-content: flex-start;
	align-items: baseline;
	min-width: 0;

	.text-element {
		margin: 10px 5px 0px;

		&.flow {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
}

.player-controls {
	grid-area: player-controls;
	background-color: var(--grey-light-color);

	display: flex;
	justify-content: space-around;
	align-items: center;

	.seekbar {
		margin: 0 20px;
		flex: 3 1 auto;
		min-width: 300px;
		display: inline-flex;
		align-items: center;
	}

	.volume {
		margin: 0 20px;
		flex: 1 1 auto;
		display: inline-flex;
		align-items: center;
	}

	.btn-icon {
		padding: 0px var(--element-padding);
		min-width: var(--element-height);
	}

	.btn-group {
		margin: 0 20px;
	}
}

.queue {
	grid-area: queue;
	display: flex;
	align-items: center;

	background: var(--primary-color);

	.popover-body {
		width: 350px;
		height: 75vh;

		display: flex;
		flex-direction: column;
	}

	.queue-header {
		height: calc(var(--element-height) + 4px);
		background: var(--grey-light-color);
		border-bottom: var(--border-base-width) var(--border-base-style) var(--grey-color);

		padding: 0px var(--element-padding);

		overflow: hidden;

		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.queue-body {
		flex: 1 1 auto;
		display: flex;
		align-items: stretch;

		.queue-row {
			display: flex;

			justify-content: center;

			.details {
				flex: 1 1 auto;
				display: flex;
				justify-content: center;
				flex-direction: column;

				&.current {
					background-color: var(--primary-color);
					color: var(--primary-text-color);

					&:hover {
						background-color: var(--primary-color);
						color: var(--primary-text-color);
					}
				}
								
				h6 {
					margin-top: 0;
					margin-bottom: 0;
				}

				&:hover {
					border-top-width: var(--border-base-width);
					background-color: var(--grey-light-color);
				}
		
				&:active {
					background-color: var(--primary-color);
					color: var(--primary-text-color);
				}
			}
		}
	}
}

.search {
	grid-area: search;
	display: flex;
	align-items: center;

	background: var(--primary-color);

	padding: 0px calc(var(--element-padding)*2);

	flex: 1 1 auto;

	.textbox {
		border-color: var(--primary-dark-color);

		background-color: var(--primary-dark-color);
		color: var(--primary-text-color);
		
		&::placeholder {
			color: var(--grey-color);
		}
	}
}