.player {
	display: grid;
	grid-template-columns: 85px auto;
	grid-template-rows: 45px 45px;
	grid-template-areas: "player-art player-details" "player-art player-controls"; 

	box-shadow: 0 2px 5px rgba(0,0,0,0.16);
}

.player-art {
	grid-area: player-art;
	background-color: var(--primary-color); 

	.album-art {
		margin-top: 5px;
	}
}

.player-details {
	grid-area: player-details;
	padding-left: 25px;
	background-color: var(--primary-color);
	color: var(--primary-text-color);
	display: flex;
	justify-content: flex-start;
	align-items: baseline;

	.text-element {
		margin: 10px 10px 0px;
	}
}

.player-controls {
	grid-area: player-controls;
	background-color: var(--grey-light-color);

	display: flex;
	justify-content: space-around;
	align-items: center;

	.seekbar {
		margin: 0 20px;
		flex: 3 1 auto;
		min-width: 300px;
		display: inline-flex;
		align-items: center;
	}

	.volume {
		margin: 0 20px;
		flex: 1 1 auto;
		display: inline-flex;
		align-items: center;
	}

	.btn-icon {
		padding: var(--element-padding);
		min-width: var(--element-height);
	}

	.btn-group {
		margin: 0 20px;
	}
}