.library-settings {
	display: flex;
	flex-direction: column;

	padding: calc(var(--element-padding)*3) calc(var(--element-padding)*3) 0px;

	.library-settings-group {
		margin-top:  calc(var(--element-padding)*4);
	}
}