.statusbar {
	height: calc(var(--element-height) - 1px);
	display: flex;
	justify-content: space-between;
	align-items: center;

	border-top: var(--border-base-width) var(--border-base-style) var(--grey-dark-color);
	background-color: var(--grey-light-color);
	color: var(--text-color);
	box-shadow: 0 -3px 7px rgba(0,0,0,0.16);

	padding: 0px 15px;

	z-index: 9;

	.progress {
		width: 40vw;
		white-space: nowrap;
		display: flex;
		align-items: center;

		progress {
			align-self: flex-end;
			margin-bottom: 4px;
		}
	}
}