.titlebar {
	$height: 40px;
	height: $height;
	min-height: $height;
	max-height: $height;
	overflow: hidden;

	background-color: var(--primary-color);

	display: flex;
	justify-content: space-between;

	.btn-menu {
		width: 85px;
		font-size: calc(var(--font-size-lg));

		.mdi {
			margin-right: 5px;
		}
	}
}