/* Turn on custom 8px wide scrollbar */
::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
    background: rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    border: 2px solid rgba(0, 0, 0, 0);
    min-height: var(--element-height); /*Prevent it from getting too small */
}
::-webkit-scrollbar-thumb:vertical:active {
    background: rgba(0, 0, 0, 0.61); /* Some darker color when you click it */
}
