/*
Base Textbox Class. Every Other input derives from it.
*/

.textbox {
    //Font Family not inherited from parents. Hack.
    font-family: inherit;
    line-height: inherit;
    background: var(--background-color);
    background-image: none;
    border: var(--border-width) var(--border-style) var(--border-color);
    border-radius: var(--border-radius);
    color: var(--body-text-color);
    height: var(--element-height);
    display: flex;

    margin: var(--spacing-vertical) 0px;
    transition: border-color 0.2s;

    width: 100%;
    box-sizing: border-box;
    outline: none;
    padding: 0px var(--spacing-horizontal);

    &:focus {
        border-color: var(--accent-base-color);
        //@include control-shadow(var(--primary-light-color));
    }

    &::placeholder {
        color: var(--border-color);
    } // Textarea
    &.textarea {
        height: auto;
    } // File Input
    &[type='file'] {
        height: auto;
    }
}

.textbox-addon {
    background: var(--background-color);
    border: var(--border-width) var(--border-style) var(--border-color);
    border-radius: var(--border-radius);
    color: var(--body-text-color);
    height: var(--element-height);
    width: var(--element-height);
    min-width: var(--element-height);

    display: flex;
    align-items: center;
    justify-content: space-around;

    box-sizing: border-box;
    outline: none;
    padding: 0px var(--spacing-horizontal);

    &.left {
        border-right: none;
    }

    &.right {
        border-left: none;
    }
}

.editable-textbox {
    //Font Family not inherited from parents. Hack.
    font-family: inherit;
    line-height: inherit;
    background: var(--text-accent-color);
    background-image: none;
    border: var(--border-width) var(--border-style) var(--border-color);
    border-radius: var(--border-radius);
    color: var(--text-body-color);
    display: flex;

    margin: calc(var(--spacing-vertical) - 6px) var(--spacing-horizontal);
    transition: border-color 0.2s;

    width: 175px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: none;
    padding: calc(var(--spacing-vertical) - 6px) var(--spacing-horizontal);

    &:focus {
        border-color: var(--accent-base-color);
        //@include control-shadow(var(--primary-light-color));
    }
}
